
    <div class="col s12 m7" >
        <div class="card horizontal">
        <div class="card-stacked">
        <div class="card-content center-align" style="background: #eeeeee">
            <h5 style class="red-text">Get Event Information 
                <a class="waves-effect waves-light btn white-text" style="background: #ff2802"><i class="material-icons right">chevron_right</i>MORE INFO </a>
            </h5>
        </div>
      
        </div>
    </div>
</div>