
    <div class='container'>

        <h1>Home Page</h1>


        <div class="row">
            <div class="col s12 m7">
            <div class="card">
                <div class="card-image small">
                <img src="https://cdn.crash.net/styles/article/s3/image_importer/F1/2794131.0064.jpg?itok=MP71PrKu">
                <span class="card-title">Card Title</span>
                </div>
                <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                <a href="#">This is a link</a>
                </div>
            </div>
            </div>
        </div>

            <div class="row">
            <div class="col s12 m7">
            <div class="card">
                <div class="card-image small">
                <img src="https://robbreport.com/wp-content/uploads/2019/08/mrh01.jpg?w=1000">
                <span class="card-title">Card Title</span>
                </div>
                <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                <a href="#">This is a link</a>
                </div>
            </div>
            </div>
        </div>      
    </div>


src="https://cdn.crash.net/styles/article/s3/image_importer/F1/2794131.0064.jpg?itok=MP71PrKu"