
    <div class="col s12 m7" >
    <div class="card horizontal">
    <div class="card-stacked">
        <div class="card-content center-align" style="background: #ff2802">
        <h5 style class="white-text">Book with our 100% Gurantee!  &nbsp&nbsp
            <a class="waves-effect waves-light btn black-text" style="background: #ffffff"><i class="material-icons right">chevron_right</i>MORE INFO </a>
        </h5>
        </div>
      
    </div>
    </div>
</div>
           

    <div class='container' >

    
        <div class="row">
            <div class="col m5">
            <div class="card">
                <div class="card-image">
                <img src="https://cdn.crash.net/styles/article/s3/image_importer/F1/2794131.0064.jpg?itok=MP71PrKu">
                <span class="card-title">Card Title</span>
                </div>
                <div class="card-content">
                <p>F1 Stuff</p>
                </div>
                <div class="card-action">
                <a href="#">This is a link</a>
                </div>
            </div>
            </div>
        </div>

            <div class="row">
            <div class="col m5">
            <div class="card">
                <div class="card-image">
                <img src="https://robbreport.com/wp-content/uploads/2019/08/mrh01.jpg?w=1000">
                <span class="card-title">Card Title</span>
                </div>
                <div class="card-content">
                <p>IHorse Race ish</p>
                </div>
                <div class="card-action">
                <a href="#">This is a link</a>
                </div>
            </div>
            </div>
        </div>      
    
        <div class="video-container">
            <iframe width="853" height="480" src="//www.youtube.com/embed/HuLdJLB6sBo" frameborder="0" allowfullscreen></iframe>
        </div>
            
    </div>

 <%= render 'static/getinfo' %>

        